<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<display-name>SignupServlet</display-name>
  	<description></description>
  	<servlet-class>fundit.SignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>fundit.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>fundit.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompanyRedirectController</servlet-name>
  	<display-name>CompanyRedirectController</display-name>
  	<description></description>
  	<servlet-class>fundit.CompanyRedirectController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NeedsDao</servlet-name>
  	<display-name>NeedsDao</display-name>
  	<description></description>
  	<servlet-class>fundit.NeedsDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>companyLoginServlet</servlet-name>
  	<display-name>companyLoginServlet</display-name>
  	<description></description>
  	<servlet-class>fundit.companyLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NeedsInvestorController</servlet-name>
  	<display-name>NeedsInvestorController</display-name>
  	<description></description>
  	<servlet-class>fundit.NeedsInvestorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogsInvestorController</servlet-name>
  	<display-name>LogsInvestorController</display-name>
  	<description></description>
  	<servlet-class>fundit.LogsInvestorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NeedsCompanyController</servlet-name>
  	<display-name>NeedsCompanyController</display-name>
  	<description></description>
  	<servlet-class>fundit.NeedsCompanyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayLogs</servlet-name>
  	<display-name>DisplayLogs</display-name>
  	<description></description>
  	<servlet-class>fundit.DisplayLogs</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/insertInvestor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>companyLoginServlet</servlet-name>
  	<url-pattern>/checkCLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/insertCompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CompanyRedirectController</servlet-name>
  	<url-pattern>/companyRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NeedsDao</servlet-name>
  	<url-pattern>/NeedsDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>companyLoginServlet</servlet-name>
  	<url-pattern>/companyLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NeedsInvestorController</servlet-name>
  	<url-pattern>/NeedsInvestor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogsInvestorController</servlet-name>
  	<url-pattern>/LogsInvestor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NeedsCompanyController</servlet-name>
  	<url-pattern>/NeedsCompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayLogs</servlet-name>
  	<url-pattern>/DisplayLogs</url-pattern>
  </servlet-mapping>
</web-app>
